body {
	background-color: rgb(60,60,60);
	color: white;
	border:1px solid black;
	margin:40px;
	padding:30px;
}

h1 {
	font-style: italic;
	text-align: center;
}

nav{
	text-align: center;
}

a {
	color: green;
}

h3{
	text-transform: uppercase;
	color: rgb(180,180,180);
}

h4{
	text-transform: uppercase;
	color: rgb(180,180,180);
}
p{

}

li p{
	color: rgb(180,180,180);
	margin: 1px;
}

li{
	margin: 20px;
	list-style: square;

}

footer {
	text-align: center;
	color: rgb(180,180,180);
}